<div class="container-fluid">
    <label>PolicyId</label>
    <br />
    <input type="number" [(ngModel)]="pol.policyId" />
    <br />
    <label>PolicyName</label>
    <br />
    <!-- ngModel is directive which we used for two way binding -->
    <input type="text" [(ngModel)]="pol.policyName" />
    <br />
    <label>CoverageAmount</label>
    <br />
    <input type="text" [(ngModel)]="pol.coverageAmount" />
    <br />
    <label>premiumAmount</label>
    <br />
    <input type="text" [(ngModel)]="pol.premiumAmount" />
    <br />
    <label>CategoryID</label>
    <br />
    <input type="text" [(ngModel)]="pol.num" />
    <br />
    <br />
    <button (click)="add()">Add Record</button>
    </div>
    <br />
    <!-- json pipe -->
    <!-- <h4>{{ pol | json }}</h4> -->
    <span style="color: red">{{ statusDetails }}</span>